body {
  min-height: 100vh;
  display: flex;
  margin: 0;
}
footer {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;

  margin-top: auto;
  height: 5rem;  

  color: #fff;
  background-color: #999;
}
